<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connect.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/connect"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.connect.Comments.ViewAllCommentsActivity"></activity>
        <activity android:name="com.connect.NewsFeed.NewsFeedActivity" />
        <activity android:name="com.connect.Home.ImageCaptureActivity" />
        <activity android:name="com.connect.Auth.LogoutActivity" />
        <activity android:name="com.connect.UserProfile.EditProfileFragment" />
        <activity android:name="com.connect.Home.HomeActivity" />
        <activity android:name="com.connect.Auth.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>